 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(12, 12, 92) 35%, rgb(64, 37, 77) 100%);
   
}

.container .master {
    width: 130px;
    float: right;
    margin: .7rem 1rem;
}

.container {
    border: 1px solid black;
    width: 670px;
    height: 380px;
    border-radius: 20px;
    background: url(images/map.png) center/cover no-repeat, radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(61,20,126,1) 35%, rgb(31, 116, 133) 100%);

} 

button, input {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    padding: 20px;
}

input {
    width: 86%;
    font-size: 30px;
    color: white;
    background: transparent;
    border: none;
    font-family: 'Credit Card', sans-serif;
}

.container .chip {
    width: 90px;
    height: 70px;
} 

span {
    color: white;
    font-size: 60px;
    font-weight: 600;
    padding: 40px;
}
