* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    width: 575px;
    height: 325px;
    
}

.container {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: black

}
img {
    width: 120px;
    float: right;
    margin: 15px;
}